html {
  background-image: url(https://i.stack.imgur.com/xfn1X.jpg);
  @import url(https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet");
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-size: 3em;
  color: white;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
/*   background: rgba(255, 255, 255, 0.5); */
  text-align: center;
  border-radius: 5px;
  padding: 50px 50px;
  position: relative;
  display: table;
}

.btn {
  background-color: #449BB6;
  margin: 20px;
  border: 3px solid white;
  border-radius: 25px;
  padding: 8px 30px;
  color: white;
  font-size: 1em;
  font-weight: medium;
  cursor:pointer;
}

.lucky {
  color: white;
  text-decoration: none;
}

.footer {
    color: white;
    text-shadow: 2px grey;
}

#search-bar {
  width: 50%;
  height: 20px;
}

#display-results {
  box-sizing: inherit;
  background: rgba(255, 255, 255, 0.3);
  padding: auto;
  display: table;
  text-align: left;
}

#link {
  color: #062a35;
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    margin: auto;
    padding: 15px;
  }
  h1 {
  font-size: 2em;
  }
  .btn {
  margin: 15px;
  padding: 6px 20px;
  }
  #search-bar {
  width: 90%;
  }
}